.btn-editor {
  width: 30px;
  height: 30px;
}

.content {
  height: 100%;
  padding: 10px;
}

.with-bg {
  background-color: #e5e7eb;
  /* padding: 10px; */
  height: 500px;
}

.is-active {
  background-color: #d1d5db;
}
